@import url('https://fonts.googleapis.com/css2?family=Rubik+Distressed&family=Saira:ital,wght@0,100..900;1,100..900&family=Trade+Winds&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: black;
    font-family: 'Saira', sans-serif;
}

html, body{
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid orange;
}

nav>a{
    text-decoration: none;
    font-size: 1.75rem;
    font-style: italic;
    font-weight: 500;
}

main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
    border: 3px solid blue;
}

footer{
    display: flex;
    justify-content: center;
    gap: 30px;
    font-size: 1.15rem;
    border: 3px solid green;
}

#albumPlace, #guessPlace{
    margin: 100px 0 100px 0;
    width: 500px;
    height: 500px;
    border: 3px solid red;
}